.login-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.login-scene-container {
  width: 100%;
  height: 100%;
}

.login-overlay {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

